.pageContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(135deg, #5efce8 0%, #706cd7d0 100%); */
  background-image: linear-gradient(135deg, #f7f3ef 0%, #c0aa99 100%);
}

.loginContainer {
  padding: 4rem 2rem;
  border-radius: 15px;
  width: 380px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  background-color: rgba(255, 255, 255, 0.8);
}
.loginContainer h4 {
  color: var(--primary-color);
}

.loginContainer header {
  text-align: center;
}

.loginContainer main {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1.8rem 0;
}

.loginContainer footer {
  text-align: center;
}

.loginContainer footer span {
  cursor: pointer;
  text-decoration: underline;
}

.forgotPasswordLink {
  margin-top: 1.5rem;
  font-size: 12px;
  font-weight: 500;
  text-align: right;
  cursor: pointer;
}

.loginContainer footer span:hover {
  color: #1b1798;
}
.googleButton {
  outline: none;
  display: flex;
  flex-direction: row;
  /* background-color: #4384f4; */
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 6px;
  border-radius: 100px;
  margin-top: 5px;
  border: 2px solid black;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
}
.googleImage {
  height: 33px;
  position: absolute;
  left: 0;
  /* background: white; */
  border-radius: 5px;
}

.googleButton:hover {
  border-color: black;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 7px;
}

@media screen and (max-width: 500px) {
  .loginContainer {
    width: calc(100vw - 40px);
  }
}
