@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

.messageContainer {
  height: 100vh;
  /* background-image: linear-gradient(135deg, #f7f3ef 0%, #c0aa99 100%); */
  background-image: linear-gradient(-45deg, #93a5cf 0%, #e4efe9 100%);
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  font-family: "Poppins", sans-serif;
}

.messageContainer .logoContainer {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.messageContainer header {
  justify-self: stretch;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 5.5rem;
}

.messageContainer > header button {
  font-size: 16px;
  padding: 0.6em 1.2em;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s;
}

.messageContainer > header button:hover {
  box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.5);
}

.messageContainer > footer {
  width: 80%;
  padding: 0.8rem 0;
}

.messageContainer > footer form {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 50px;
  padding: 0 0.8rem;
  background-color: white;
  display: flex;
  align-items: center;
}

.messageContainer > footer input {
  flex: 1;
  font-size: 16px;
  border: none;
  background-color: transparent;
  outline: none;
  width: 100%;
  padding: 0.8em 1em;
}

.messageContainer > footer button {
  background-color: transparent;
  outline: none;
  border: none;
  line-height: 0;
  cursor: pointer;
  transition: opacity 0.3s;
}

.messageContainer > footer button:disabled {
  opacity: 0.6;
}

.messageContainer > footer button > span {
  font-size: 32px;
}

.messageContainer main {
  width: 80%;
  overflow: auto;
  padding: 10px;
}

.messageContainer main::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
  border-radius: 5px;
}

.messageContainer main::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.chat {
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 1rem;
  font-size: 16px;
  width: fit-content;
  max-width: 90%;
  margin-right: auto;
  padding: 0.5em 1em;
  line-height: 28px;
  border-radius: 8px 8px 8px 0;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.own {
  background-color: rgba(219, 255, 237, 0.8);
  margin-left: auto;
  margin-right: 0px;
  max-width: 90%;
  border-radius: 8px 8px 0 8px;
}

.loadCursor {
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 50px;
  display: inline-block;

  -webkit-animation: pulse 2s infinite ease-in-out;
  -o-animation: pulse 2s infinite ease-in-out;
  -ms-animation: pulse 2s infinite ease-in-out;
  -moz-animation: pulse 2s infinite ease-in-out;
  animation: pulse 2s infinite ease-in-out;
}
.headerText{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

@media only screen and (max-width: 650px) {
  .messageContainer header {
    padding: 1rem 3rem;
  }
}

@media only screen and (max-width: 500px) {
  .messageContainer header {
    padding: 1rem 1rem;
  }
}

@media only screen and (max-width: 800px) {
  .messageContainer > footer {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .messageContainer main {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .headerText {
    display: none;
  }
}

/*--------------------------*/
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.9);
    opacity: 0.7;
  }
  50% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.9);
    opacity: 0.7;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 0.7;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0.7;
  }
}

/*--------------------------*/

/*---- loader ----*/
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
/*----------------------------*/

.loadingChatInit {
  text-align: center;
}
.emptyChat {
  text-align: center;
}
.copyButton {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.copyButton:focus {
  outline: none;
}

.copyButton:hover {
  color: #0056b3;
}

.own .copyButton {
  display: none; /* Hide the copy button for user messages */
}

